<h4 style="text-align: center"><%= data.status === 'error' ? '授权失败' : '授权成功' %></h4>
<input id="token" type="hidden" value=<%= data.token %>>

<script>
  (function() {
    window.addEventListener('load', e => {
      console.log(e);
      const token = document.querySelector('#token').value;
      if (token) {
        window.opener.postMessage({
          type: 'LOGIN_SUCCESS',
          data: {
            token,
          }
        }, '*');
      }
    });
  })();
</script>
